
/* CSS For the EditGameSection Class */

.edit-layout {
  background-color: white;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  padding: 10px 15px;
}
