
/* CSS For the GamesPlayed Class */

.games-played-layout {
  background-color: white;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  margin-top: 10px;
  padding: 10px 15px;
}
