
/* CSS For the MusicArtists Class */

.music-artists-layout {
  background-color: white;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px 15px;
}

.music-artist-rows {
  margin-bottom: 10px;
}
.music-artist-rows:last-child {
  margin-bottom: 0px;
}

a {
  font-size: 16px;
  font-weight: bold;
  margin : 5px 0px 0px 0px;
}
