
/* CSS For the MusicAlbums Class */

.music-albums-layout {
  background-color: white;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px 15px;
}

.top-row {
  margin-bottom: 10px;
  border-bottom: 1px solid rgb(87, 123, 201);
}

.music-album-rows {
  margin-bottom: 10px;
}
