
/* CSS For the MusicTracks Class */

.music-tracks-layout {
  background-color: white;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  margin: 10px 0px;
  padding: 20px 15px 10px 15px;
}